body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c560aa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #78df8b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #333;
}

.input-section {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
}

#locationInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px; /* Increase padding for more spacing */
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.radiation-section {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.result {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.error {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    color: #ff0000;
}
